/* =======================================
   Root Variables
   ======================================= */

/*Root variables are not necessary for an app this small*/
:root {
  --color-primary: #92278f;
  --color-heading: #000000;
  --color-linkText: #179be5;
  --color-primary-success: #008000;
}

/* =======================================
       Typography Styles
       ======================================= */

/* Base font settings for scaling and rem sizing */
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px (1rem = 10px) */
  height: 100vh;
}

/* General body styles */
body {
  font-family: "Lato", sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  margin-bottom: 1rem;
  width: 100wv;
  height: 100vh;
}

/* Headings */
h1,
h2 {
  color: var(--color-heading);
  margin-top: 0;
}

/* H1 specific styles */
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 550; /* Bold */
}

/* H2 specific styles */
h2 {
  font-size: 2rem;
  font-weight: 500; /* Bold */
  margin-bottom: 1rem;
}

/* Shortlink text styles */
.shortlink-text {
  color: var(--color-linkText);
  font-size: 14px;
}
.click-count-text {
  color: #9bb7f4;
  font-size: 14px;
}

/*Successmessages*/

.success-text {
  color: var(--color-primary-success);
  padding-left: 5rem;
}

.add-url-button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

/* =======================================
       Layout Styles
       ======================================= */
.align-immidiate-children-center > * {
  margin: 0 auto;
}

/* MAIN SECTION */
.main-grid {
  padding-top: 2rem;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.heading-div {
  width: 100%;
  text-align: center;
}
.main-flex {
  width: 100%;
  gap: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.add-url-button {
  margin-top: 2rem;
  margin-left: 4rem;
}

/* PANEL SECTION */
.panel-grid {
  background-color: #e7e7e7;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.panel-stack {
  display: flex;
  flex-direction: column; /* Stack-like layout */
  align-items: center; /* Center align items */
  justify-content: center; /* Center justify items */
  gap: 1rem; /* Add spacing between items */
  padding-top: 4rem; /* Default padding */
}

.panel-stack-empty-urls {
  padding-top: 10rem;
}

.last-child-padding > :last-child {
  padding-bottom: 10px;
}

#AnchorzUpLogo {
  width: 60%;
  padding-bottom: 4rem;
}
.shortlink-text:hover {
  color: lightblue; /* Light blue color on hover */
}

/* =======================================
       Media Queries
       ======================================= */

/* Layout for screens >= 700px */
@media screen and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: 100vh; /* Single row filling viewport height */
    width: 100%;
    height: 100vh;
  }

  /*MAIN GRID*/
  .main-grid {
    height: 100vh;
    width: 65vw; /* Occupies 70% of the viewport width */
    padding-top: 8rem;
  }

  .heading-div {
    text-align: start;
    padding-left: 5rem;
  }

  .main-flex {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .add-url-button {
    margin-left: 5rem;
  }

  /*PANEL GRID*/
  .panel-grid {
    height: 100vh;
    width: 35vw; /* Occupies 30% of the viewport width */
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4.5rem;
  }
  .panel-stack-empty-urls {
    padding-top: 13rem; /* Extra padding when URLs are empty and screen width is greater than 700px */
  }
  #AnchorzUpLogo {
    width: 80%;
  }

  h1 {
    padding-bottom: 2rem;
  }
  h2 {
    padding-bottom: "20px";
  }
}

/* Typography adjustments for screens >= 1024px */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .placeholder-text {
    font-size: 2.4rem;
  }
  .dropdownList-text {
    font-size: 2.2rem;
  }
  .shortlink-text {
    font-size: 1.8rem;
  }

  /*MAIN GRID*/
  .heading-div {
    padding-left: 10rem;
  }
  .success-text {
    padding-left: 10rem;
  }
  .main-flex {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .add-url-button {
    margin-left: 10rem;
  }
}
